button {
  --gradient: linear-gradient(to bottom right, var(--color-1), var(--color-2));
  --border-width: 3px;
  --border-radius: 30px;
  --color-1: #6792ff;
  --color-2: #41c3cb;
    padding-left: 40px;
    padding-right: 40px;
    font-weight: bold;

    border-radius: var(--border-radius);
    border: none;
}


.call-me {

    

    color: var(--gradient);
    position: relative;
    background: var(--gradient), var(--gradient);
    background-position: var(--border-radius) 0, var(--border-radius) 100%;
    background-repeat: no-repeat;
    background-size: calc(100% - var(--border-radius) - var(--border-radius))
      var(--border-width);

}

.call-me:before,
.call-me:after {
  content: "";
  display: block;
  position: absolute;
  width: var(--border-radius);
  top: 0;
  bottom: 0;
}

.call-me:before {
    left: 0;
    border: var(--border-width) solid var(--color-1);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-right-color: transparent;
  }
  
.call-me:after {
    right: 0;
    border: var(--border-width) solid var(--color-2);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-left-color: transparent;
}

.call-me .text {
    background-color: var(--gradient);
    background-image: var(--gradient);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}



.order-repair {
  background: var(--gradient);
  padding-left: 70px;
  padding-right: 70px;
}