header {
    padding: 34px 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header-navigation {
    display: flex;
    align-items: center;

    gap: 65px;
}

.contacts {
    display: flex;
    gap: 33px;
    align-items: center;
}

.contacts .contacts-phone {
    color: #fff;
    font-size: 26px;
    font-weight: bold;

}

ul.menu__list {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2rem;
}

li.menu__item a {
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
